{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Edit Product</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}


<h1 style="font: 600 32px 'Poppins', sans-serif; margin-bottom: 2rem;">Edit Product</h1>
<div class=login-wrapper>
    <div class=register-card>
        <form method="POST" class="form-style">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            
            <!-- Button di luar table, di kanan -->
            <div style="display: flex; justify-content: flex-end; margin-top: 2rem;">
                <input type="submit" value="Add Product" style="width: 200px;" />
            </div>
        </form>
    </div>
</div>

{% endblock %}