<!DOCTYPE html>
<html>
    <head>
    <title>PBP Tugas 3</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h1>Toko Sepakbola Jaya Abadi</h1>

        <a href="{% url 'main:add_product' %}">
        <button>+ Add Product</button>
        </a>

        <hr>

        {% if not product_list %}
        <p>Belum ada produk toko.</p>
        {% else %}

        {% for product in product_list %}
        <div>
        <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>

        {% if product.thumbnail %}
        <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
        <br />
        {% endif %}

        <h3> {{ product.price }} </h3>
        <p>{{ product.description|truncatewords:25 }}...</p>

        <p><a href="{% url 'main:show_product' product.id %}"><button>See Details</button></a></p>
        </div>

        <hr>
        {% endfor %}

        {% endif %}    
        {% endblock content %}

    </body>

</html>