<!DOCTYPE html>
<html>
    <head>
    <title>PRODUCT DETAILS</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block content %}
        <p><a href="{% url 'main:show_main' %}"><button>← Back to Product List</button></a></p>

        <h1>{{ product.title }}</h1>
        {% if product.thumbnail %}
        <img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300">
        <br /><br />
        {% endif %}
        <h3> {{ product.price }} </h3>
        <p>{{ product.description }}</p>

        {% endblock content %}    
    </body>

</html>