{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}

<div class="login-wrapper">
  <h1 class="text-4xl font-bold text-navy-900">Toko Sepakbola Jaya Abadi</h1>

  <div class="register-card">
    <h1 class="text-2xl font-bold text-navy-900">Register</h1>
    <form method="POST" action="" class="form-style">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
          <td></td>
      </table>
      <td><input class="btn login_btn" type="submit" value="Register" /></td>

    </form>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} 
    <div class="mt-4">
    Have an account?
    <a href="{% url 'main:login' %}" class="text-blue-600 hover:underline">Login Now</a>
    </div>
  </div>
</div>

{% endblock content %}